.frete {
    display: flex;
    align-items: center;
    align-content: center;
    height: 10em;
    margin-top: 10px;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}