#comisaao-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

.ant-btn-circle.ant-btn-lg {
  margin-left: 1em;
  min-width: 40px;
  border-radius: 50%;
  background:#1C1B6E;
}

.anticon svg {
  display: inline-block;
  fill: white;
}

.btn-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: -28%;
}
  #btn-gravar{
    background-color: green;
  }

.ant-btn-circle.ant-btn-lg {
    margin-left: 1em;
    min-width: 40px;
    border-radius: 50%;
}
.highcharts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}
  
  .notification{
  background-color: #003399;
  color: white;
  text-align: center;
  font-size: 20px;
  }
  
  .ant-form-item-label > label {
  color:white;
  font-weight: bold;
  }
  .ant-modal-content{
  background: #001529 ;
  }

  .ant-form-item .ant-mentions, .ant-form-item textarea.ant-input {
    height: auto;
    width: min-content;
}
  .ant-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
  color: white;
  font-weight: bold;
  }