.conteiner-calc{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.ant-table-tbody{
  background: #5f878f;
  color: white;
  font-weight: bold;
}

.card-calc {
  width: 70%;
  height: 349px;
  background: #515151;
  color: white;
  font-weight: bold;
  margin: 10px;
  opacity: 0.88;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 85%);
}

.ant-table-thead > tr > th {
  position: relative;
  color: white;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.3s ease;
  background: #515151;
  font-weight: bold;
}

.ant-table-tbody {
  background: #fafafa;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.ant-form {
  /* margin-top: 10px; */
  box-sizing: border-box;
  /* margin: 0; */
  padding: 26px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum", "tnum";
  display: flex;
  /* margin-left: 25%; */
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#form-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top:-40px;
}


.ant-btn:hover{
  background: #723445;
}

h1{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

.ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: white;
  font-size: 14px;
}

#card-calc {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span{
  color: white;
  font-family: sans-serif;
}
 #card-input-calc{
  background: #574951;
 }

 .table {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  padding: 40px;
}

.ant-card-bordered {
  border: none;
}

#modal-tax-config label{
  color: #3a111c;
  font-weight: bold;
}

#div-btns-calc-import {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.btn-calc-import{
  background: #af373e;
}

.row-calc{
  display: flex;
  justify-content: center;
}

