/* .site-card-border-less-wrapper {
    margin-bottom: 99px;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10%;
  } */

  .card {
    width: 100%;
    height: auto;
    background: #AF373E;
    color: white;
    font-weight: bold;
    margin: 10px;
    opacity: 0.88;
    box-shadow: 10px 5px 5px rgb(0 0 0 / 85%);
}
h3{
  color: white;
  font-weight: bold;
}
a>span {
  color: white;
  font-family: sans-serif;
}

/* .ant-card-head-title {
display: inline-flex;
flex: 1 1;
padding: 16px 0;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
color: white;
font-weight: bold;
justify-content: center;
}

.ant-card-body{
  display: flex;
  justify-content: center;
}

a.ant-btn {
  padding-top: 0.01px !important;
  line-height: 30px;
  color: white;
  font-weight: bold;
}

.ant-card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #3a111c;
  border-top: 1px solid #f0f0f0;
  box-shadow: white;
}



.ant-btn-icon-only {
  width: 32px;
  height: 32px;
  padding: 2.4px 0;
  font-size: 16px;
  border-radius: 2px;
  vertical-align: -1px;
  color: chocolate;
  border: 0px;
  background: #3a111c;
}
.ant-btn-icon-only {
  width: 32px;
  height: 32px;
  padding: 2.4px 0;
  font-size: 16px;
  border-radius: 2px;
  vertical-align: -1px;
  color: chocolate;
  border: 0px;
}


#conteiner-home{
  background: #574951;
} */

li {
  list-style-type: none;
}